#dDugme {
   -fx-background-color: silver;
   -fx-border-color: black;
}

#dPodloga {
    -fx-background-color: ghostwhite;
}

#dJednako {
    -fx-background-color: salmon;
    -fx-border-color: black;
}

#dRezultat {
    -fx-background-color: lightgreen;
}